{% extends 'base.html' %}
{% load i18n staticfiles custom_filters configs_tags meta_tags custom_tags %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}"/>
{% endblock %}

{% block content %}
    <div class="content_block">
        <div class="content registration_page">

            <h1 class="page_title">{% trans 'Password recovery' %}</h1>

            <div class="form_block">
                <form method="POST" action="{{ app_path }}" id="reset_form_pasword">
                    {% csrf_token %}
                    <label for="{{ form.new_password1.auto_id }}" class="labels">{% trans 'New Password' %}</label>
                    {{ form.new_password1 }}

                    <label for="{{ form.new_password2.auto_id }}" class="labels">{% trans 'Reset Password' %}</label>
                    {{ form.new_password2 }}

                    <div class="error_notice"></div>

                    <div class="bottom_row">
                        <input type="submit" name="" id="" value="{% trans 'Submit' %}" class="buttons"/>
                    </div>
                </form>
            </div>

        </div>
    </div>
{% endblock %}