{% extends 'base.html' %}
{% load i18n staticfiles custom_filters configs_tags meta_tags custom_tags %}

{% block meta_tags %}
    {% include_meta_tags page %}
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/courses.css' %}"/>
{% endblock %}

{% block content %}
    <div class="content_block">
        <div class="content courses_page">

            <h1 class="page_title">{{ page.title }}</h1>

            <div class="text_block">
                {{ page.content|safe }}
            </div>
        </div>
    </div>
{% endblock %}