{% extends 'base.html' %}
{% load i18n staticfiles custom_filters configs_tags meta_tags custom_tags %}

{% block meta_tags %}
    {% include_meta_tags page %}
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/home.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/team.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/overview.css' %}"/>
{% endblock %}

{% block content %}
    <div class="content_block">
        <div class="content">
            {{ page.title }}
            {{ page.content|safe }}
        </div>
    </div>
{% endblock %}